In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
# Wikipedia URL
url = "https://en.wikipedia.org/wiki/List_of_states_and_territories_of_the_United_States"

In [3]:
# Send request and parse HTML
headers = {"User-Agent": "Mozilla/5.0"}  # Avoid 403 error
response = requests.get(url, headers=headers)
soup = BeautifulSoup(response.text, "html.parser")

In [5]:
# Find the table
table = soup.find("table", {"class": "wikitable"})

# Extract column headers
headers = [header.text.strip() for header in table.find_all("th")]

In [12]:
# Extract data rows
data = []
for row in table.find_all("tr")[1:]:  # Skip header row
    cols = row.find_all(["th", "td"])  # Include both 'th' (for state names) and 'td'
    row_data = [col.text.strip().replace(",", "") for col in cols]  # Clean text
    if len(row_data) > 1:  # Avoid empty rows
        data.append(row_data)

In [13]:
# Ensure correct number of columns
max_cols = max(len(row) for row in data)  # Find max column count in any row
headers = headers[:max_cols]  # Trim headers if extra ones exist

In [14]:
# Create DataFrame
df = pd.DataFrame(data, columns=headers)

In [16]:
#drop 1st row
df = df.iloc[1:]
df

,"Flag, name andpostal abbreviation[8]",Cities,Ratification oradmission[A],Population(2020)[10],Total area[11],Reps.,Capital,Largest[12],mi2
1,Alabama,AL,Montgomery,Huntsville,Dec 14 1819,5024279,52420,135767,7
2,Alaska,AK,Juneau,Anchorage,Jan 3 1959,733391,665384,1723337,1
3,Arizona,AZ,Phoenix,Feb 14 1912,7151502,113990,295234,9,None
4,Arkansas,AR,Little Rock,Jun 15 1836,3011524,53179,137732,4,None
5,California,CA,Sacramento,Los Angeles,Sep 9 1850,39538223,163695,423967,52
6,Colorado,CO,Denver,Aug 1 1876,5773714,104094,269601,8,None
7,Connecticut,CT,Hartford,Bridgeport,Jan 9 1788,3605944,5543,14357,5
8,Delaware,DE,Dover,Wilmington,Dec 7 1787,989948,2489,6446,1
9,Florida,FL,Tallahassee,Jacksonville,Mar 3 1845,21538187,65758,170312,28
10,Georgia,GA,Atlanta,Jan 2 1788,10711908,59425,153910,14,None
11,Hawaii,HI,Honolulu,Aug 21 1959,1455271,10932,28313,2,None
12,Idaho,ID,Boise,Jul 3 1890,1839106,83569,216443,2,None
13,Illinois,IL,Springfield,Chicago,Dec 3 1818,12812508,57914,149995,17
14,Indiana,IN,Indianapolis,Dec 11 1816,6785528,36420,94326,9,None
15,Iowa,IA,Des Moines,Dec 28 1846,3190369,56273,145746,4,None
16,Kansas,KS,Topeka,Wichita,Jan 29 1861,2937880,82278,213100,4
17,Kentucky[B],KY,Frankfort,Louisville,Jun 1 1792,4505836,40408,104656,6
18,Louisiana,LA,Baton Rouge,New Orleans,Apr 30 1812,4657757,52378,135659,6
19,Maine,ME,Augusta,Portland,Mar 15 1820,1362359,35380,91633,2
20,Maryland,MD,Annapolis,Baltimore,Apr 28 1788,6177224,12406,32131,8
21,Massachusetts[B],MA,Boston,Feb 6 1788,7029917,10554,27336,9,None
22,Michigan,MI,Lansing,Detroit,Jan 26 1837,10077331,96714,250487,13
23,Minnesota,MN,Saint Paul,Minneapolis,May 11 1858,5706494,86936,225163,8
24,Mississippi,MS,Jackson,Dec 10 1817,2961279,48432,125438,4,None
25,Missouri,MO,Jefferson City,Kansas City,Aug 10 1821,6154913,69707,180540,8
26,Montana,MT,Helena,Billings,Nov 8 1889,1084225,147040,380831,2
27,Nebraska,NE,Lincoln,Omaha,Mar 1 1867,1961504,77348,200330,3
28,Nevada,NV,Carson City,Las Vegas,Oct 31 1864,3104614,110572,286380,4
29,New Hampshire,NH,Concord,Manchester,Jun 21 1788,1377529,9349,24214,2
30,New Jersey,NJ,Trenton,Newark,Dec 18 1787,9288994,8723,22591,12
31,New Mexico,NM,Santa Fe,Albuquerque,Jan 6 1912,2117522,121590,314917,3
32,New York,NY,Albany,New York City,Jul 26 1788,20201249,54555,141297,26
33,North Carolina,NC,Raleigh,Charlotte,Nov 21 1789,10439388,53819,139391,14
34,North Dakota,ND,Bismarck,Fargo,Nov 2 1889,779094,70698,183108,1
35,Ohio,OH,Columbus,Mar 1 1803,11799448,44826,116098,15,None
36,Oklahoma,OK,Oklahoma City,Nov 16 1907,3959353,69899,181037,5,None
37,Oregon,OR,Salem,Portland,Feb 14 1859,4237256,98379,254799,6
38,Pennsylvania[B],PA,Harrisburg,Philadelphia,Dec 12 1787,13002700,46054,119280,17
39,Rhode Island,RI,Providence,May 29 1790,1097379,1545,4001,2,None
40,South Carolina,SC,Columbia,Charleston,May 23 1788,5118425,32020,82933,7
41,South Dakota,SD,Pierre,Sioux Falls,Nov 2 1889,886667,77116,199729,1
42,Tennessee,TN,Nashville,Jun 1 1796,6910840,42144,109153,9,None
43,Texas,TX,Austin,Houston,Dec 29 1845,29145505,268596,695662,38
44,Utah,UT,Salt Lake City,Jan 4 1896,3271616,84897,219882,4,None
45,Vermont,VT,Montpelier,Burlington,Mar 4 1791,643077,9616,24906,1
46,Virginia[B],VA,Richmond,Virginia Beach,Jun 25 1788,8631393,42775,110787,11
47,Washington,WA,Olympia,Seattle,Nov 11 1889,7705281,71298,184661,10
48,West Virginia,WV,Charleston,Jun 20 1863,1793716,24230,62756,2,None
49,Wisconsin,WI,Madison,Milwaukee,May 29 1848,5893718,65496,169635,8
50,Wyoming,WY,Cheyenne,Jul 10 1890,576851,97813,253335,1,None

In [18]:
#rename 1st column and population column
df.rename(columns={df.columns[0]: 'State', df.columns[5]: 'Population'}, inplace=True)
df

,State,Cities,Ratification oradmission[A],Population(2020)[10],Total area[11],Population,Capital,Largest[12],mi2
1,Alabama,AL,Montgomery,Huntsville,Dec 14 1819,5024279,52420,135767,7
2,Alaska,AK,Juneau,Anchorage,Jan 3 1959,733391,665384,1723337,1
3,Arizona,AZ,Phoenix,Feb 14 1912,7151502,113990,295234,9,None
4,Arkansas,AR,Little Rock,Jun 15 1836,3011524,53179,137732,4,None
5,California,CA,Sacramento,Los Angeles,Sep 9 1850,39538223,163695,423967,52
6,Colorado,CO,Denver,Aug 1 1876,5773714,104094,269601,8,None
7,Connecticut,CT,Hartford,Bridgeport,Jan 9 1788,3605944,5543,14357,5
8,Delaware,DE,Dover,Wilmington,Dec 7 1787,989948,2489,6446,1
9,Florida,FL,Tallahassee,Jacksonville,Mar 3 1845,21538187,65758,170312,28
10,Georgia,GA,Atlanta,Jan 2 1788,10711908,59425,153910,14,None
11,Hawaii,HI,Honolulu,Aug 21 1959,1455271,10932,28313,2,None
12,Idaho,ID,Boise,Jul 3 1890,1839106,83569,216443,2,None
13,Illinois,IL,Springfield,Chicago,Dec 3 1818,12812508,57914,149995,17
14,Indiana,IN,Indianapolis,Dec 11 1816,6785528,36420,94326,9,None
15,Iowa,IA,Des Moines,Dec 28 1846,3190369,56273,145746,4,None
16,Kansas,KS,Topeka,Wichita,Jan 29 1861,2937880,82278,213100,4
17,Kentucky[B],KY,Frankfort,Louisville,Jun 1 1792,4505836,40408,104656,6
18,Louisiana,LA,Baton Rouge,New Orleans,Apr 30 1812,4657757,52378,135659,6
19,Maine,ME,Augusta,Portland,Mar 15 1820,1362359,35380,91633,2
20,Maryland,MD,Annapolis,Baltimore,Apr 28 1788,6177224,12406,32131,8
21,Massachusetts[B],MA,Boston,Feb 6 1788,7029917,10554,27336,9,None
22,Michigan,MI,Lansing,Detroit,Jan 26 1837,10077331,96714,250487,13
23,Minnesota,MN,Saint Paul,Minneapolis,May 11 1858,5706494,86936,225163,8
24,Mississippi,MS,Jackson,Dec 10 1817,2961279,48432,125438,4,None
25,Missouri,MO,Jefferson City,Kansas City,Aug 10 1821,6154913,69707,180540,8
26,Montana,MT,Helena,Billings,Nov 8 1889,1084225,147040,380831,2
27,Nebraska,NE,Lincoln,Omaha,Mar 1 1867,1961504,77348,200330,3
28,Nevada,NV,Carson City,Las Vegas,Oct 31 1864,3104614,110572,286380,4
29,New Hampshire,NH,Concord,Manchester,Jun 21 1788,1377529,9349,24214,2
30,New Jersey,NJ,Trenton,Newark,Dec 18 1787,9288994,8723,22591,12
31,New Mexico,NM,Santa Fe,Albuquerque,Jan 6 1912,2117522,121590,314917,3
32,New York,NY,Albany,New York City,Jul 26 1788,20201249,54555,141297,26
33,North Carolina,NC,Raleigh,Charlotte,Nov 21 1789,10439388,53819,139391,14
34,North Dakota,ND,Bismarck,Fargo,Nov 2 1889,779094,70698,183108,1
35,Ohio,OH,Columbus,Mar 1 1803,11799448,44826,116098,15,None
36,Oklahoma,OK,Oklahoma City,Nov 16 1907,3959353,69899,181037,5,None
37,Oregon,OR,Salem,Portland,Feb 14 1859,4237256,98379,254799,6
38,Pennsylvania[B],PA,Harrisburg,Philadelphia,Dec 12 1787,13002700,46054,119280,17
39,Rhode Island,RI,Providence,May 29 1790,1097379,1545,4001,2,None
40,South Carolina,SC,Columbia,Charleston,May 23 1788,5118425,32020,82933,7
41,South Dakota,SD,Pierre,Sioux Falls,Nov 2 1889,886667,77116,199729,1
42,Tennessee,TN,Nashville,Jun 1 1796,6910840,42144,109153,9,None
43,Texas,TX,Austin,Houston,Dec 29 1845,29145505,268596,695662,38
44,Utah,UT,Salt Lake City,Jan 4 1896,3271616,84897,219882,4,None
45,Vermont,VT,Montpelier,Burlington,Mar 4 1791,643077,9616,24906,1
46,Virginia[B],VA,Richmond,Virginia Beach,Jun 25 1788,8631393,42775,110787,11
47,Washington,WA,Olympia,Seattle,Nov 11 1889,7705281,71298,184661,10
48,West Virginia,WV,Charleston,Jun 20 1863,1793716,24230,62756,2,None
49,Wisconsin,WI,Madison,Milwaukee,May 29 1848,5893718,65496,169635,8
50,Wyoming,WY,Cheyenne,Jul 10 1890,576851,97813,253335,1,None

In [19]:
#keeping only the state name and population columns
df = df[['State', 'Population']]
df

               State Population
1            Alabama    5024279
2             Alaska     733391
3            Arizona     113990
4           Arkansas      53179
5         California   39538223
6           Colorado     104094
7        Connecticut    3605944
8           Delaware     989948
9            Florida   21538187
10           Georgia      59425
11            Hawaii      10932
12             Idaho      83569
13          Illinois   12812508
14           Indiana      36420
15              Iowa      56273
16            Kansas    2937880
17       Kentucky[B]    4505836
18         Louisiana    4657757
19             Maine    1362359
20          Maryland    6177224
21  Massachusetts[B]      10554
22          Michigan   10077331
23         Minnesota    5706494
24       Mississippi      48432
25          Missouri    6154913
26           Montana    1084225
27          Nebraska    1961504
28            Nevada    3104614
29     New Hampshire    1377529
30        New Jersey    9288994
31        New Mexico    2117522
32          New York   20201249
33    North Carolina   10439388
34      North Dakota     779094
35              Ohio      44826
36          Oklahoma      69899
37            Oregon    4237256
38   Pennsylvania[B]   13002700
39      Rhode Island       1545
40    South Carolina    5118425
41      South Dakota     886667
42         Tennessee      42144
43             Texas   29145505
44              Utah      84897
45           Vermont     643077
46       Virginia[B]    8631393
47        Washington    7705281
48     West Virginia      24230
49         Wisconsin    5893718
50           Wyoming      97813

In [20]:
df.to_csv('us_states_population.csv', index=False)
print("File saved to 'us_states_population.csv'")

File saved to 'us_states_population.csv'